// Color Tablet


$colorWhite:#FFFFFF;
$colorBlack:rgba(0,0,0, .7);
$colorGray:#787D83;
$colorGray2: #C4C4C4;
$colorgray3: #464B54;
$colorYellow: #FAA500;



//  Media Queries 

@mixin xs {
  @media (max-width: 689px) { @content; }
}

@mixin ms {
  @media (max-width: 790px) { @content; }
}
@mixin md {
  @media (min-width: 900px) { @content; }
}
@mixin xl {
  @media (min-width: 1200px) { @content; }
}
@mixin xxl {
  @media (min-width: 1800px) { @content; }
}